<footer>
	<link rel="stylesheet" href="/public/footer.css">

    <div class="footer__content">
        <div class="footer__logo">
            <a href="/">
                <img src="/public/logos/long/white.svg">
            </a>
            <span>Pour les lycéens, par les lycéens</span>
        </div>
        <div class="footer__links">
            <a href="https://plausible.jeanneactu.fr/<%= plausibleDataDomain %>" target="_blank">Statistiques de visites</a>
            <a href="/legal">Mentions légales</a>
        </div>
    </div>
</footer>