<header>
	<link rel="stylesheet" href="/public/header.css">

    <a href="/">
        <img class="logo" src="/public/logos/long/white.svg" alt="Bienvenue sur Jeanne actu">
    </a>
    <!-- <nav>
        <a class="selected">Home</a>
        <a>Qui sommes nous ?</a>
        <a>Archive</a>
        <a>Vidéos actus</a>
    </nav> -->
</header>