<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('head', { title: 'Mentions légales' }) %>

	<style>
		a {
			color: #00227e;
		}
	</style>
</head>
<body>
	<%- include('header') %>
	<main>
		<h1>Mentions légales</h1>
		<p>
			Jeanne Actu: <a href="/">jeanneactu.fr</a> <br>
		</p>
		<p>
			Lycée Jeanne d’Albret <br>
			<strong>Adresse (du Lycée):</strong> 6 Rue Giraud Teulon, 78100 Saint-Germain-en-Laye <br>
			Académie de Versailles
		</p>
		<p>
			<strong>Directrice de publication:</strong> Marie-Pierre PILLET
		</p>
		<p>
			<strong>Contact:</strong> <a href="mailto:jeanne.actu.jda@gmail.com">jeanne.actu.jda@gmail.com</a>
		</p>
		<p>
			<strong>Hébergeur:</strong> OVH
		</p>

		<h2>Propriété intellectuelle</h2>
		<p>
			Tous les articles, vidéos et caricatures sont entièrement réalisés par les élèves du lycée 
			Jeanne d'Albret. Les images utilisées sont toutes libres de droits.
		</p>

		<h2>L'équipe de rédaction</h2>
		<p>
			Le journal Jeanne Actu est entièrement réalisé par des élèves du lycée:
		</p>
		<p>
			<strong>Rédacteur en Chef :</strong> Eliott Hi.<br>
			<strong>Rédacteur en chef adjoint :</strong> Eliott Hu.<br>
			<strong>Directrice de l’iconographie :</strong> Alisa<br>
			<strong>Iconographes :</strong> Alisa, Alexandre, Manel, Jordan.<br>
			<strong>Journalistes :</strong> Eliott Hi, Eva M., Eliott Hu., Stoyan, Alexandre, Alisa, Volodia, Camille,
			Jordan, Jason, Noa, Aissata, Eva J., Wasila, Emile, Alix, Kendra, Julien, Manel, Florian, Agathe. <br>
			<strong>Dessinateurs :</strong> Arthur, Alisa, Eliott L. <br>
			<strong>Monteurs :</strong> Eva J., Eliott L., Emile<br>
			<strong>Développement, gestion et déploiement du site internet :</strong> Paul
		</p>
	</main>
	<%- include('footer') %>
</body>
</html>
