<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('head', { title }) %>

	<meta http-equiv="Refresh" content="0; URL='<%= pdfUrl %>'" />

	<style>
		h1 {
			margin: auto;
		}
	</style>
</head>
<body>
	<h1>Redirecting...</h1>
</body>
</html>


