footer {
	background: #1d1d1d;
	color: white;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer__content {
	width: var(--content-width);

	padding: 20px;
	max-width: 100%;
	box-sizing: border-box;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 40px 20px;
	flex-wrap: wrap;
}

.footer__logo, .footer__links {
	display: flex;
	flex-direction: column;
	justify-content: end;
	gap: 10px;
}

.footer__logo img {
	height: 3rem;
}

.footer__links a {
	color: white;
	text-decoration: none;

	width: fit-content;
	display: flex;
	gap: 5px;
	position: relative;	
}

.footer__links a::after {
	content: " ";
	background-color: white;
	width: 0%;
	height: 1px;
	position: absolute;
	bottom: -2px;
	transition: 0.2s;
}

.footer__links a:hover::after {
	width: 100%;
}

.footer__links a img {
	width: 0.8em;
}