/* Header tings */

header {
	background: var(--gradient);
	color: white;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo {
	margin: 20px;
	height: 4rem;
}

/* Nav things */

nav {
	display: flex;
	margin: 0 10px;
	gap: 10px;
}

nav a {
	padding: 15px;
	display: flex;
	align-items: center;
	border-radius: 10px 10px 0 0;
	font-size: large;
	color: white;
	text-decoration: none;
	text-align: center;

	position: relative;
}

nav a.selected {
	background: var(--light);
	color: var(--main);
}

nav a::after {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 3px;
	width: 100%;
	background-color: var(--light);
	content: ' ';
	transition: 0.2s;
	transform: scaleX(0);
}

nav a:not(.selected):hover::after {
	transform: scaleX(1);
}