:root {
    --focus-color: rgb(66, 117, 228);
}

body {
    background-color: #EDEDED;
    overflow: hidden;
}

canvas {
    background-color: lightgray;
}

.toolbar {
    display: flex;
    justify-content: space-between;

    height: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    background-color: white;
}

.toolbar__right, .toolbar__center, .toolbar__left {
    box-sizing: border-box;
}

.toolbar__right {
    display: flex;
    justify-content: flex-start;
}

.toolbar__logo-link {
    padding: 10px;
    display: flex;
    border-radius: 5px;
}

.toolbar__logo-link img {
    width: 140px;
}

.toolbar__center {
    display: flex;
    align-items: center;
    gap: 5px;
}

.toolbar__next-page-button > img {
    rotate: 180deg;
}

.toolbar__page-number-field {
    width: 2rem;
    text-align: end;

    border: 1px #a0a0a0 solid;
    border-radius: 3px;
    padding: 2px 3px;
    font-size: 0.9rem;
}

.toolbar__page-number-field:focus {
    outline: 1px solid var(--focus-color);
    border: 1px solid var(--focus-color);
}

.toolbar__left {    
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    gap: 40px;
}

.toolbar__zoom-area {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #303030;
}

.toolbar__button {
    display: flex;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 5px;
    background: none;
}

.toolbar__button img {
    width: 40px;
    height: 40px;
}

.toolbar__button:hover:not(:disabled) {
    background-color: #EDEDED;
}

.toolbar__button:disabled {
    filter: opacity(0.5);
}

.view-area {
    flex-grow: 1;
    overflow: auto;
    display: flex;
}

.page-container {
    display: flex;
    flex-direction: row;
    gap: 5px;    
    padding: 20px;
    margin: auto;
    z-index: -100;
}

.page {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}

.toolbar__button:focus, .toolbar__logo-link:focus, .view-area:focus {
    outline: 2px solid var(--focus-color);
}