:root {
	--content-width: 70rem;
		
	--main: #0a4ea8;
	--main-transparent: #0a4ea880;
	--light: #f7f7f7;
	--grey: #ededed;
	--dark: #122D40;

	--gradient: linear-gradient(135deg, #04F, #0CF);
	--button-primary: #87b6ff;
	--button-secondary: #e2e2e2;

    --focus-color: rgb(66, 117, 228);
}

body {
	margin: 0;
	height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: stretch;

	font-family: Arial, Helvetica, sans-serif;
	background: var(--light);
}

h1 {
	font-size: xx-large;
	margin: 1rem 0;
}

h1, h2 {
	color: var(--dark);
}

button {
	font-size: 100%;
}

.animated-link {
	color: #00227e;
	text-decoration: none;

	width: fit-content;
	position: relative;
}

.animated-link--white {
	color: white;
}

.animated-link img {
	width: 0.8em;
}

.animated-link::after {
	content: " ";
	background-color: #00227e;
	width: 0%;
	height: 1px;
	transition: 0.2s;

	position: absolute;
	bottom: -2px;
	left: 0;
}

.animated-link--white::after {
	background-color: white;
}

.animated-link:hover::after {
	width: 100%;
}


main {
	width: var(--content-width);
	max-width: 100%;

	padding: 20px;
	margin: 0 auto;
	box-sizing: border-box;
	flex-grow: 1;

	background: var(--light);
	/* box-shadow: 0 0 15px #0003; */
}

.sorties {
	width: fit-content;
	max-width: 100%;
	display: flex;
	flex-direction: row;
	align-items: start;
	gap: 20px;
	flex-wrap: wrap;
}

.card {
	width: 20rem;
	height: 25rem;
	border-radius: 15px;
	border: 1px solid #0003;
	background-color: white;

	box-shadow: 0 1px 5px #0003;
	transition: box-shadow 0.2s;

	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.card:hover {
	box-shadow: 0 1px 10px #0005;
}

@media (max-width: 425px) {
	.card {
		width: 425px;
	}
}

.card__top, .card__top a {
	overflow: hidden;

	display: flex;
	flex-direction: column;
}

.card__bottom {
	padding: 20px;
	gap: 10px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	box-shadow: 0 0 20px #000;
}

.card__bottom__title {
	text-decoration: none;
}

.card__bottom__title > h2 {
	margin: 0;
}

.numero-info-row {
	display: flex;
	align-items: center;
	gap: 20px;
}

.numero-info-row span {
	opacity: 0.5;
}

.numero-info-row img {
	height: 25px;
	opacity: 0.5;
}

.card-buttons-row {
	flex-grow: 1;

	display: flex;
	align-items: end;
	flex-wrap: wrap;
	gap: 2px;
}

.card-button, .card-button--no-darken {
	display: flex;
	align-items: center;
	padding: 8px;
	gap: 5px;
	height: 35px;
	box-sizing: border-box;

	border: none;
	border-radius: 10px;
	background: var(--button-primary);
	transition: filter 0.2s, transform 0.2s;

	text-decoration: none;
	color: black;
}

.card-button:focus-visible, .card-button--no-darken:focus-visible {
	outline: 2px solid var(--focus-color);
}

.card-button img, .card-button--no-darken img {
	max-height: 1.1rem;
	max-width: 1.1rem;
}

.card-button:hover {
	filter: brightness(0.9);
}

.card-button:active {
	filter: brightness(0.7);
}

.like-button {
	border-radius: 3px 10px 10px 3px;
	background: var(--button-secondary);
}

.like-button.single {
	border-radius: 10px 10px 10px 10px;
}

.dislike-button {
	border-radius: 10px 3px 3px 10px;
	background: var(--button-secondary);
}

.card-spacer {
	flex-grow: 1;
}

.invisible-link {
	color: inherit;
	text-decoration: inherit;
	cursor: inherit;
}

.dislike-button > img {
	transform: rotate(180deg);
}

.dislike-container {
	position: relative;
}

.dislike-container__hover-zone {
	position: absolute;
	z-index: 10;
	inset: -2px;
}

.dislike-container__hover-zone:hover ~ .dislike-button {
	transform: translateY(120%);
}