:root {
	--content-width: 70rem;
		
	--main: #0a4ea8;
	--main-transparent: #0a4ea880;
	--light: #f7f7f7;
	--grey: #ededed;
	--dark: #122D40;

	--gradient-opacity: 0.6;
	--gradient: linear-gradient(135deg, #04F, #0CF);
	--gradient-transparent: linear-gradient(135deg, rgba(0, 68, 255, var(--gradient-opacity)), rgba(0, 204, 255, var(--gradient-opacity)));
}

body {
	margin: 0;
	height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: stretch;

	font-family: Arial, Helvetica, sans-serif;
	background: var(--light);
}

h1 {
	font-size: xx-large;
	margin: 1rem 0;
}

h1, h2 {
	color: var(--dark);
}

button {
	font-size: 100%;
}

main {
	width: var(--content-width);
	max-width: 100%;

	padding: 20px;
	margin: 0 auto;
	box-sizing: border-box;
	flex-grow: 1;

	background: var(--light);
	/* box-shadow: 0 0 15px #0003; */
}

.sorties {
	width: fit-content;
	max-width: 100%;
	display: flex;
	flex-direction: row;
	align-items: start;
	gap: 20px;
	flex-wrap: wrap;
}

.card {
	width: 20rem;
	height: 25rem;
	border-radius: 15px;
	border: 1px solid #0003;
	box-shadow: 0 1px 5px #0003;
	background-color: white;

	display: flex;
	flex-direction: column;
	overflow: hidden;
}

@media (max-width: 425px) {
	.card {
		width: 425px;
	}
}

.card__top {
	overflow: hidden;

	display: flex;
	flex-direction: column;
}

.card__bottom {
	padding: 20px;
	gap: 10px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	box-shadow: 0 0 20px #000;
}

.numero-title {
	margin: 0;
}

.numero-info-row {
	display: flex;
	align-items: center;
	gap: 20px;
}

.numero-info-row span {
	opacity: 0.5;
}

.numero-info-row img {
	height: 25px;
	opacity: 0.5;
}

.card-buttons-row {
	flex-grow: 1;

	display: flex;
	align-items: end;
	flex-wrap: wrap;
	gap: 5px;
}

.card-button, .card-button--no-darken {
	display: flex;
	align-items: center;
	padding: 8px;
	gap: 5px;
	height: 35px;
	box-sizing: border-box;

	border: none;
	border-radius: 10px;
	background: var(--gradient-transparent);
	transition: 0.2s;

	text-decoration: none;
	color: black;
}

.card-button img, .card-button--no-darken img {
	max-height: 1.1rem;
	max-width: 1.1rem;
}

.card-button:hover {
	filter: brightness(0.8);
}

.card-button:active {
	filter: brightness(0.6);
}

.card-spacer {
	flex-grow: 1;
}

.invisible-link {
	color: inherit;
	text-decoration: inherit;
	cursor: inherit;
}

.dislike > img {
	transform: rotate(180deg);
}

.dislike-container {
	position: relative;
}

.dislike-container__hover-zone {
	position: absolute;
	z-index: 10;
	inset: -2px;
}

.dislike-container__hover-zone:hover ~ .dislike {
	transform: translateY(120%);
}