:root {
	--content-width: 70rem;
		
	--main: #0a4ea8;
	--main-transparent: #0a4ea880;
	--light: #f7f7f7;
	--grey: #ededed;
	--dark: #122D40;

	--gradient-opacity: 0.6;
	--gradient: linear-gradient(135deg, #04F, #0CF);
	--gradient-transparent: linear-gradient(135deg, rgba(0, 68, 255, var(--gradient-opacity)), rgba(0, 204, 255, var(--gradient-opacity)));
}

body {
	margin: 0;
	height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: stretch;

	font-family: Arial, Helvetica, sans-serif;
	background: var(--grey);
}

h1 {
	font-size: xx-large;
	margin: 1rem 0;
}

h1, h2 {
	color: var(--dark);
}

main {
	width: var(--content-width);
	max-width: 100%;

	padding: 20px;
	margin: 0 auto;
	box-sizing: border-box;
	flex-grow: 1;

	background: var(--light);
	/* box-shadow: 0 0 15px #0003; */
}

.sorties {
	width: fit-content;
	display: flex;
	flex-direction: row;
	align-items: start;
	gap: 20px;
	flex-wrap: wrap;
}

.numero-container {
	padding: 20px;
	border-radius: 15px;
	box-shadow: 0 0 5px #0008;
	background-color: rgba(0, 0, 0, 0.07);
}

.numero-container-bottom {
	margin-top: 10px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 5px;
}

.miniature {
	width: 20rem;
	max-width: 100%;
	margin-top: 10px;
	border-radius: 10px;
}

.numero-info {
	display: flex;
	align-items: center;
}

.numero-info span {
	margin-right: 10px;
	opacity: 0.5;
}

.numero-info img {
	height: 25px;
	margin-right: 10px;
	opacity: 0.5;
}

.numero-title {
	margin: 0;
}

.see-button {
	margin-left: auto;

	display: flex;
	align-items: center;
	padding: 8px;
	gap: 5px;

	border: none;
	border-radius: 10px;
	background: var(--gradient-transparent);
	transition: 0.2s;

	text-decoration: none;
	color: black;
	/* color: white;
	font-weight: bold; */
}

.see-button:hover {
	filter: brightness(0.8);
}

.see-button:active {
	filter: brightness(0.6);
}

.see-button img {
	max-height: 1.1rem;
	max-width: 1.1rem;
}

.invisible-link {
	color: inherit;
	text-decoration: inherit;
	cursor: inherit;
}
